.detailsPageContainer {
    padding: 0 20px;
}

.detailsContainer {
    display: flex;
    gap: 50px;
    margin-bottom: 20px;
}

.backBtn {
    display: block;
    font-size: 25px;
    padding: 20px 0;
    text-align: left;
    color: darkgray;
    max-width: 70px;
}